@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

ul {
  list-style-type: none;
}

/* color variables */
/* Button styles */
._button {
  margin: 0;
  padding: 10px 16px;
  border-radius: 5px;
  color: #fff;
  border: 0;
  font-size: 14px;
  background-color: #f3f3f4;
}

._button.-primary {
  background-color: #ea4c89;
}

._button:hover {
  cursor: pointer;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px;
  height: 80px;
}

header nav ._logo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ._logo-section ._logo .fa-dribbble {
  font-size: 36px;
}

header nav ._logo-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ._logo-section ul li {
  font-weight: bold;
  margin-right: 20px;
}

header nav ._logo-section ul li a {
  text-decoration: none;
}

header nav ._logo-section ul li i {
  font-size: 10px;
}

header nav ._logo-section ul li a,
header nav ._logo-section ul li i {
  color: #6e6d7a;
}

header nav ._logo-section ul li:last-of-type {
  border-left: 1px solid #d2dbde;
  padding-left: 20px;
}

header nav ._logo-section ul li:hover {
  cursor: pointer;
}

header nav ._actions span {
  margin: 0 15px;
}

header nav ._actions span i,
header nav ._actions span a {
  color: #6e6d7a;
}

header nav ._actions span a {
  text-decoration: none;
}

header nav ._actions ._button {
  margin: 0 0 0 10px;
}

._promo {
  height: 380px;
  background-color: #F2F1F4;
}

._promo > div {
  position: relative;
  max-width: 624px;
  padding: 30px;
  top: 50px;
}

._promo > div h1 {
  margin-bottom: 0;
}

main {
  margin: 0 40px;
}

main ._toolbar ._filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 35px 0;
  padding: 0;
}

main ._toolbar ._filters li {
  margin: 0 15px;
  color: #6e6d7a;
}

main ._toolbar ._filters li.-active {
  background-color: #F2F1F4;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

main ._toolbar ._filters li:not(.-active):hover {
  color: #000;
}

main ._toolbar ._filters li:hover {
  cursor: pointer;
}

main ._cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main ._cards ._card {
  margin: 2%;
}

main ._cards ._card ._card-body:hover {
  cursor: pointer;
}

main ._cards ._card ._card-body ._image {
  width: 275px;
  height: 225px;
  border-radius: 5px;
}

main ._cards ._card ._card-details {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main ._cards ._card ._card-details span {
  margin-left: 5px;
  font-weight: bold;
}

._modal {
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 9997;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
}

._modal.-open {
  visibility: visible;
}

._modal .fa-times {
  right: 0;
  margin: 20px 20px 0 0;
}

._modal .fa-chevron-left {
  top: 50%;
  margin-left: 10px;
}

._modal .fa-chevron-right {
  top: 50%;
  right: 0;
  margin-right: 10px;
}

._modal .fa-times,
._modal .fa-chevron-left,
._modal .fa-chevron-right {
  position: absolute;
  color: #6e6d7a;
  font-size: 30px;
}

._modal .fa-times:hover,
._modal .fa-chevron-left:hover,
._modal .fa-chevron-right:hover {
  cursor: pointer;
  color: #F2F1F4;
}

._modal ._modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 750px;
  width: 750px;
  background-color: #fff;
  border-radius: 5px;
}

._modal ._modal-content header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

._modal ._modal-content header .fa-user-circle {
  font-size: 36px;
}

._modal ._modal-content header ._title {
  position: relative;
  bottom: 5px;
  margin-left: 10px;
}

._modal ._modal-content header ._title h3 {
  margin: 0;
}

._modal ._modal-content header ._title span {
  position: relative;
  bottom: 3px;
  font-size: 14px;
}

._modal ._modal-content header ._actions.-group {
  position: absolute;
  padding-right: 20px;
  right: 0;
}

._modal ._modal-content header ._actions.-group ._button {
  margin: 0 5px;
  color: #000;
}

._modal ._modal-content header ._actions.-group ._button:hover {
  background-color: #d8d8dc;
}

._modal ._modal-content section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._modal ._modal-content section ._image {
  margin: 10px auto 0;
  height: 600px;
  width: 600px;
  border-radius: 5px;
}
/*# sourceMappingURL=main.css.map */