* {
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

ul {
    list-style-type: none;
}

/* color variables */
$dribbble-pink: #ea4c89;
$light-grey: #F2F1F4;
$dark-grey: #6e6d7a;
$border-grey: #d2dbde;
$black: #000;
$white: #fff;

/* Button styles */
._button {
    margin: 0;
    padding: 10px 16px;
    border-radius: 5px;
    color: $white;
    border: 0;
    font-size: 14px;
    // primary
    &.-primary {
        background-color: $dribbble-pink;
    }
    &:hover {
        cursor: pointer;
    }
}

header {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;
        height: 80px;
        ._logo-section {
            display: flex;
            align-items: center;
            ._logo {
                .fa-dribbble {
                    font-size: 36px;
                }
            }
            ul {
                display: flex;
                li {
                    font-weight: bold;
                    margin-right: 20px;
                    a { text-decoration: none; }
                    i { 
                        font-size: 10px; 
                    }
                    a,
                    i {
                        color: $dark-grey;
                    }
                    &:last-of-type {
                        border-left: 1px solid $border-grey;
                        padding-left: 20px;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        ._actions {
            span {
                margin: 0 15px;
                i,
                a {
                    color: $dark-grey;
                }
                a { 
                    text-decoration: none;
                }
            }
            ._button {
                margin: 0 0 0 10px;
            }
        }
    }
}

._promo {
    height: 380px;
    background-color: $light-grey;
    > div {
        position: relative;
        max-width: 624px;
        padding: 30px;
        top: 50px;
        h1 {
            margin-bottom: 0;
        }
    }
}

main {
    margin: 0 40px;
    ._toolbar {
        ._filters {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 35px 0;
            padding: 0;
            li {
                margin: 0 15px;
                color: $dark-grey;
                &.-active {
                    background-color: $light-grey;
                    color: $black;
                    padding: 10px;
                    border-radius: 5px;
                    font-weight: bold;
                }
                &:not(.-active) {
                    &:hover {
                        color: $black;
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    ._cards {
        display: flex;
        flex-wrap: wrap;
        ._card {
            margin: 2%;
            ._card-body {
                &:hover {
                    cursor: pointer;
                }
                img {
                    width: 275px;
                    height: 225px;
                    border-radius: 5px;
                }
            }
            ._card-details {
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                span {
                    margin-left: 5px;
                    font-weight: bold;
                }
            }
        }
    }
}

._modal {
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    z-index: 9997;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    &.-open {
        visibility: visible;
    }
    .fa-times {
        position: absolute;
        right: 0;
        margin: 20px 20px 0 0;
        color: $dark-grey;
        font-size: 30px;
        &:hover {
            cursor: pointer;
            color: $light-grey;
        }
    }
}